<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd">
    <!-- 自动扫描 -->
    <context:component-scan base-package="org.ssm.zhb.biz.controller" />

    <!-- 请求参数Date类型由前端传入String 转为 yyyy-MM-dd HH:mm:ss 格式 begin -->
    <bean id="jacksonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
        <property name="dateFormat">
            <bean class="java.text.SimpleDateFormat">
                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
            </bean>
        </property>
        <property name="serializationInclusion">
            <util:constant static-field="com.fasterxml.jackson.annotation.JsonInclude.Include.NON_NULL" ></util:constant>
        </property>
    </bean>
    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper" ref="jacksonObjectMapper" />
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <!--<ref bean="stringConverter" />-->
                <ref bean="mappingJacksonHttpMessageConverter" /> <!-- json转换器 -->
            </list>
        </property>
    </bean>
    <!-- end -->

    <!-- dozer 封装 (JavaBean映射工具库) -->
    <bean id="dozerMapper" class="org.ssm.zhb.common.utils.DozerMapper" scope="singleton">
        <property name="mapper">
            <bean class="org.dozer.spring.DozerBeanMapperFactoryBean" scope="singleton">
                <property name="mappingFiles" value="classpath*:beanmap/*.xml" />
            </bean>
        </property>
    </bean>

    <!-- 自动注册  -->
    <mvc:annotation-driven>
        <!-- 消息转换器,解决responseBody返回中外乱码问题 -->
        <!--<mvc:message-converters register-defaults="true">-->
            <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
                <!--<property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />-->
            <!--</bean>-->
        <!--</mvc:message-converters>-->
    </mvc:annotation-driven>

    <!-- 自定义异常处理 -->
    <bean class="org.ssm.zhb.common.basic.interceptor.ExceptionResolver"/>

    <!-- 添加拦截器 -->
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash;对特定的请求进行拦截&ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/*"/>-->
            <!--<bean class="org.ssm.zhb.common.basic.interceptor.ExceptionResolver" />-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

</beans>